@if (TempData.ContainsKey(ConstantValues.NotificationMessage))
{
    <div class="text-center bg-success row notification">
        <p><b> @TempData[ConstantValues.NotificationMessage] </b></p>
    </div>
    <hr />
}
