@model RaceGetAllRacesViewModel
@{
    ViewData["Title"] = "GetAllRaces";
}

<h2>All Races</h2>
<div class="row miniRaceClass">
    @foreach (HeroRace heroRace in Model.HeroRaces)
    {


        <figure>
            <a asp-controller="Race" asp-action="GetRace" asp-route-heroRace="@heroRace">
            <img src="~/images/Races/@(heroRace).png" /> </a>
            <b>@heroRace</b>
        </figure>
        <br />

    }
</div>

