@model RaceGetRaceByNameViewModel
@{
    ViewData["Title"] = "GetRaceByName";
}

<h2>Race : @Model.Race</h2>

<div class="row miniRaceClass">

    <figure>
        <img src="~/images/Races/@(Model.Race).png" />
    </figure>
    <br />
    <p><b>Race Description:</b> @Model.RaceDescription</p>
</div>
@if (Model.Heroes.Count == 1)
{
    <h3>Hero with this race</h3>
}
else
{
    <h3>Heroes with this race</h3>
}
<div class="row">
    @foreach (Hero hero in Model.Heroes)
    {
        <partial name="HeroCardPartial" model="hero" />
    }
</div>

