@model HeroesGetAllHeroesViewModel
@{
    ViewData["Title"] = "GetAllHeroes";
    var userRole = Context.Session.GetString("UserRole");
}

<h2>All heroes</h2>

@if (userRole == "Admin")
{
    <a asp-action="Create" class="btn btn-success">Create New Hero</a>
}

<div class="row">
    @foreach (Hero hero in Model.Heroes)
    {
        <partial name="HeroCardPartial" model="hero" />
    }
</div>

