@model HeroesUpdateCreateViewModel
@{
    ViewData["Title"] = $"Update {Model.Name}";
}

<h2>Update @Model.Name</h2>

<div class="row">
    <form asp-action="UpdateHero">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ActionPoints"></label>
            <input asp-for="ActionPoints" class="form-control" />
            <span asp-validation-for="ActionPoints" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HeroClass"></label>
            <select asp-for="HeroClass" class="form-control" asp-items="Model.HeroClasses"></select>
            <span asp-validation-for="HeroClass" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DamageType"></label>
            <select asp-for="DamageType" class="form-control" asp-items="Model.DamageTypes"></select>
            <span asp-validation-for="DamageType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Health"></label>
            <input asp-for="Health" class="form-control" />
            <span asp-validation-for="Health" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HealthRegeneration"></label>
            <input asp-for="HealthRegeneration" class="form-control" />
            <span asp-validation-for="HealthRegeneration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mana"></label>
            <input asp-for="Mana" class="form-control" />
            <span asp-validation-for="Mana" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ManaRegeneration"></label>
            <input asp-for="ManaRegeneration" class="form-control" />
            <span asp-validation-for="ManaRegeneration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Damage"></label>
            <input asp-for="Damage" class="form-control" />
            <span asp-validation-for="Damage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Armor"></label>
            <input asp-for="Armor" class="form-control" />
            <span asp-validation-for="Armor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SkillSet"></label>
            <select asp-for="SkillSet" class="form-control" asp-items="Model.Skills"></select>
            <span asp-validation-for="SkillSet" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image"></label>
            <select asp-for="Image" class="form-control" asp-items="Model.Images"></select>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-light" value="Update" />
    </form>
</div>
<partial name="_ValidationScriptsPartial" />