@model SkillGetAllSkillsViewModel
@{
    ViewData["Title"] = "GetAllSkills";
}

<h2>All hero skills</h2>
<div class="row">
    @foreach (Skill skill in Model.Skills)
    {
        @if(skill is ActiveSkill)
        { 
        <partial name="ActiveSkillPartial" model="skill" />
        }
        else
        {
         <partial name="PassiveSkillPartial" model="skill"/>
        }
    }
    </div>


