@model SearchClassVIewModel
@{
    ViewData["Title"] = "ClassSearch";
}

<h2>ClassSearch</h2>

<div class="row">
    <form class="form-group" method="post">
        <div class="form-group">
            <label asp-for="Class"></label>
            <select asp-for="Class" asp-items="Model.Classes">
            </select>
            <span asp-validation-for="Class" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-info" value="Search" />
    </form>
</div>