h2{
    margin-top: 20px;
}
a:hover {
    text-decoration: none;
}

img {
    height: 50px;
    width: 50px;
}

h3 {
    border-bottom: 2px solid black;
    display: inline-block;
    width: 50%;
}


tbody img {
    border-radius: 10px;

}

.heroCard tfoot td {
    border-bottom: 2px black solid;
}

.heroCard a {
    color: black;
    font-weight: bold;
}

    .heroCard a:hover {
        color: orangered;
    }

.heroCard td, th {
    text-align: center;
}

.heroCard {
    margin: 10px;
    border: 5px solid black;
    width: 310px;
    font-size: 20px;
    background-color: tan;
}

.heroCard table {
    height: auto;
    width: 270px;
    margin-bottom: 10px;
    /*width: auto;*/
}

.actionpoint {
   background-image: url(../images/ActionPoints/ActionPoint.png);
   background-size: 45%;
   background-repeat:no-repeat;
   background-position-x: 40px;
}

.heroImg {
    margin-top: 10px;
    height: 300px;
    width: 270px;
    border: 2px solid black;
    border-radius: 50px;
}

.skill img {
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 25px;
    margin-top: 10px;
}

.skill {
    border: 2px solid black;
    width: 320px;
    height: auto;
    margin: 10px;
    background-color: darkkhaki;
}

.description {
    background-color: darkkhaki;
    border: 2px solid black;
    max-width: 750px;
    padding: 20px;
}
.skill table {
    width: 280px;
}

.skill th {
    border-bottom: 2px solid black;
}

.skill tfoot th {
    border-bottom: none;
    text-align: left;
}

.skill tfoot td {
    text-align: right;
}
.skill thead b{
    color: black;
}
.skill thead b:hover{
    color: orangered;
}
.miniRaceClass figure {
    position: relative;
    margin: 5px;
}

.miniRaceClass figcaption {
    color: #FFF;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    text-align: center;
}

.miniRaceClass img {
    width: 100px;
    height: 100px;
    margin: 0,10px,0,10px;
}

.miniRaceClass {
    background: darkkhaki;
    border: 2px solid black;
    padding: 5px;
}
.blackAndWhite {
    background-color: black;
    color: white;
    border-radius: 10px;
}

.effect-description {
    border: 2px solid black;
    height: auto;
    width: 320px;
    margin: 10px;
    background-color: darkkhaki;
}

    .effect-description th {
        display: inline;
        margin-bottom: 50px;
    }

form {
    margin: 10px;
}

    form button {
        width: 65px;
        height: 65px;
        margin: 10px;
    }

.notification
{
    margin-top: 10px;
    border: 2px black;
    padding: 10px;
}
.registerLogin
{
    padding: 5px;
}
.registerLogin a{
    border: 2px solid black;
    margin-top :10px;
}
.search a
{
    margin-top: 10px;
}
.search ul
{
    list-style: square; 
}
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
div.container.body-content {
    margin-top: 20px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: lightgoldenrodyellow;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

button {
    width: 50px;
    height: 50px;
}
