@model ClassGetAllClassesViewModel
@{
    ViewData["Title"] = "GetAllClasses";
}

<h2>All Classes</h2>

<div class="row miniRaceClass">
    @foreach (HeroClass heroClass in Model.HeroClasses)
    {
        <div class="col-auto"> 
        <figure style="margin-right:20px">
            <a asp-controller="Class" asp-action="GetClass" asp-route-heroClass="@heroClass">
                <img src="~/images/Classes/@(heroClass).png" />
            </a>
            <b>@heroClass</b>
        </figure>
        <br />
    </div>

    }
</div>

