@model ClassGetClassViewModel
@{
    ViewData["Title"] = "GetClass";
}

        <h2>Hero Class: @Model.Class</h2>
        <div class="row miniRaceClass">

            <figure>
                <img src="~/images/Classes/@(Model.Class).png" />
            </figure>
            <br />
            <p><b>Class Description:</b> @Model.ClassDescription</p>
        </div>
        @if (Model.Heroes.Count == 1)
        {
            <h3>Hero with this class</h3>
        }
        else
        {
            <h3>Heroes with this class</h3>
        }
        <div class="row">
            @foreach (Hero hero in Model.Heroes)
            {
                <partial name="HeroCardPartial" model="hero" />
            }
        </div>
