
@{
    ViewData["Title"] = "Index";
    var userName = Context.Session.GetString("UserName");
}

<h2>Register as new User Or Login if you have an account</h2>

@if (userName == null)
{
<div class="description">
    <a asp-action="Register" class="btn btn-light">Register</a>
    <a asp-action="Login" class="btn btn-light">Login</a>
</div>
}
else
{
<div class="description">
    <a asp-action="Details" class="btn btn-light">My Profile</a>
</div>
}