
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome</h2>
<div class="bg-dark text-white">
    <p>Welcome to my deck of playing cards!</p>
    <p>There are different Heroes with mostly different skills.</p>
    <p>Each hero has a race and a class.</p>
    <p>Each race gets their own unique skill (which are mostly bonuses to their attributes)</p>

    <h2>#Update#</h2>
    <p> You can now register and login! All authorised users can add cards to their list of "favorites". If user has Admin role, it makes user possible to create/update/delete heroes.</p>
    <h2>Small Features</h2>
    <p>You can now click on name of a Hero to go toa full implemented details page.Also Search page has new hardcoded, preset search values.</p>

    <h2>Users</h2>
    <p>Username : BaldnessIsGrace</p>
    <p>Password : silentAssasin!337</p>
    <p>Role : User</p>

    <br />
    <p>Username : AllHailTheKing</p>
    <p>Password : BetweenTwo&Four</p>
    <p>Role : Admin</p>
</div>

